:focus {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6{
  padding: 0px;
  margin: 0px;
}

body{
  background: url('../src/img/background-body.png');
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #fff;
}


.container{
  background: url('../src/img/BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  max-width: 950px;
  height: 550px;
  border-radius: 10px;
  margin: 20px;
  margin-right: 20px;
  display: flex;
  position: relative;
}


.side-box{
  backdrop-filter: blur(5px);
  width: 360px;
  height: 100%;
  background: rgba(35, 35, 58, 0.3);
  margin-left: auto;
}

.general-data{
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
}

input{
  background: transparent;
  color: rgba(255, 255, 255, 0.564);
  border: none;
  outline: none;
}

input:focus{
  border: none;
  box-shadow: none;
}

.main-temp{
  font-size: 64px;
}

.city{
  font-size: 32px;
}

.time{
  font-size: 13px;
}
