@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:focus {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6, p{
  padding: 0px;
  margin: 0px;
}

body{
  background: url('../src/img/background-body.png');
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #fff;
  font-family: 'Chivo Mono', monospace;
}

.container{
  background: url('../src/img/BG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  max-width: 950px;
  height: 550px;
  border-radius: 10px;
  margin: 20px;
  margin-right: 20px;
  display: flex;
  position: relative;
}

.side-box{
  backdrop-filter: blur(5px);
  width: 340px;
  height: 100%;
  background: rgba(35, 35, 58, 0.3);
  margin-left: auto;
  overflow-y: auto;
  padding: 0 35px 25px 35px;
  box-sizing: border-box;
}

.general-data{
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

input{
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 100%;
  max-width: 210px;
  padding: 10px 0;
  font-size: 18px;
}

input::placeholder{
  color: white;
}

input:focus{
  box-shadow: none;
}

.search-button{
  background-color: #d66c05;
  border: none;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.search{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: -35px;
}

.main-temp{
  font-size: 72px;
}

.city{
  font-size: 32px;
  margin-bottom: 5px;
}

.time, .sub-image{
  font-size: 13px;
}

.weather-image-city{
  margin-left: 15px;
  text-align: center;
}

.image-weather{
  width: 45px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 0px;
}

.list-item{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px 0;
  
}

.list-item > p:first-child{
  opacity: 0.7;
}

.details-title{
  font-size: 18px;
  font-weight: 500;
  margin:40px 0 30px 0;
}

.panels-weather{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

.panel-item{
  background: rgba(35, 35, 58, 0.5);
  width: 29%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  transition: 0.4s linear;
}

.panel-item:hover{
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.panel-time{
  font-size: 12px;
  padding-bottom: 10px;
}

.panel-temp{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding-left: 8px;
}

.panel-image{
  height: 24px;
}

.data-weather{
  margin-bottom: 25px;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}

@media screen and (max-width: 990px) {

  .container{
    width: 600px;
  }

  .side-box{
    align-self: end;
    width: 100%;
    height: 320px;
  }

  .general-data{
    bottom: auto;
    top: 50px;
  }

  .input-loc{
    max-width: calc(100% - 100px) ;
  }

  .panel-item{
    width: 31%;
  }

}

@media screen and (max-width: 644px) {
  .container{
    width: 400px;
  }

  .side-box{
    height: 400px;
  }

  .general-data{
    bottom: auto;
    top: 25px;
    left: 25px;
    right: 25px;
  }

  .panel-item{
    width: 47%;
  }

}

@media screen and (max-width: 440px) {
  .container{
    width: 350px;
  } 

  .main-temp{
    font-size: 64px;
  }
  
  .city{
    font-size: 24px;
  }
  
  .time, .sub-image{
    font-size: 10px;
  }


}