body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body{
  background: #1e2737;
}

.App{
  background: url('../src/assets/nitish-meena-RbbdzZBKRDY-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width: 950px;
  height: 550px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-box{
  backdrop-filter: blur(5px);
  width: 360px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.3);

}
